<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>


<div>

    {% extends 'base.html' %}
    {% block title %} {{ post.title_tag }} {% endblock %}
    {% block content %}

        <h1>{{ post.title }}-{{ post.author.id }}</h1>

        {% if post.author.first_name != null %}
            <small> By: <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong> on {{ post.post_date }}
                | {{ post.post_time }}</small><br>
        {% else %}
            <small>By: {{ post.author.username }}</small>
        {% endif %}
        <small>Email: <a href="{{ post.author.email }}" target="_blank">{{ post.author.email }}</a></small>
        <br>
        <small>Category: <strong>{{ post.category }}</strong> </small>
        <p>Last Update on: {{ post.update_time }}</p>
        <hr>
        <p>{{ post.body|safe }}</p>
        <hr>




        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

                <a href="{% url 'update_post' post.pk %}">
                    <button type="button" class="btn btn-secondary">Edit</button>
                </a>
                <a href="{% url 'delete_post' post.pk %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            {% endif %}

            <!--    Button to go home-->
            <a href="{% url 'home' %}">
                <button type="button" class="btn btn-secondary">Home</button>
            </a>

            <hr>

            <div>
            <form action="{% url 'like_post' post.pk %}">
                {% csrf_token %}
                {% if liked %}
                    <button class="btn btn-danger" type="submit" name="post_id" value="{{ post.id }}">UnLike</button>

                {% else %}
                    <button class="btn btn-primary" type="submit" name="post_id" value="{{ post.id }}">Like</button>

                {% endif %}

            </form>
            </div>
        {% else %}
            <div>Please login to like this post
                <a class="nav-link" href="{% url 'login' %}">LogIn</a></div>
        {% endif %}
        <div>- {{ total_likes }} likes</div>
        <hr>
        <h2>Comments...</h2><br>

        {% if not post.comments.all %}
            No Comments yet... You can add comments <a href="#">Here</a>
        {% else %}
            {% for comment in post.comments.all %}
                <p>
                    <small><strong>{{ comment.name }} </strong>|
                        <small>{{ comment.date_added }}</small>
                    </small><br>
                    # {{ comment.body }}<br>
                </p>
            {% endfor %}
            <hr>
        {% endif %}
    {% endblock %}

</div>
</body>
</html>


