<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title> {% block title %} My Blog {% endblock %} </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">My Awesome Blog!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <!-- Category menu items -->
            {% if cat_menu %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category's
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--For-loop for category items-->
                    {% for item in cat_menu %}
                    <a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a>

                    {% endfor %}
                    <!-- end of Category menu items -->
                    {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Category List</a>
            </li>

            {% endif %}


            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
            </li>

            <li class="nav-item mr-left">
                <a class="nav-link" href="#">{{ user }}</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sing-UP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">LogIn</a>
            </li>


            {% endif %}


        </ul>

    </div>
</nav>
<br>
<div class="container">
    {% block content %}

    {% endblock %}
</div>

<br>
<hr>

<footer class="page-footer font-small dark blockquote-footer">


    <div class="footer-copyright text-center py-3">
        <div>© 2020 Copyright:
            <a href="{% url 'home' %}">My Awesome Blog!</a></div>
        <div class="text-center py-3">Contact us: <a href="#">support@myawedomeblog.com</a></div>
    </div>
<hr>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>