<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories_List</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

    <h2>Blocks Category</h2>


    {% for item in cat_menu_list %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ item }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'category' item|slugify %}" class="btn btn-primary">See Posts</a>
            </div>
        </div>
    {% endfor %}



{% endblock %}
</body>
</html>