<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>
</head>
<body>

{% extends 'base.html' %}

{% block content%}
{% if category_post%}

<h1 style="text-transform: title;">{{cats}} Category</h1>

<br>
<br>
<ul>

    {% for post in category_post %}

    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title}}</a> | by -{{ post.author.first_name}}
        {{post.author.last_name}}


        {% if user.is_authenticated%}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}

        <br>
        <small>Category: <strong>{{ post.category }}</strong> </small>
        <br/>
        <br>

        {{post.body|slice:":100"|safe}}... <br>
        <hr>
    </li>

    {% endfor %}
</ul>
<br>
<br>

{%else%}
<h2>There is no post in title {{cats}}</h2>
<p>You can add a post at <a href="{% url 'add_post' %}">Add Post</a></p>

{% endif%}
{% endblock %}


</body>
</html>