<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

            <h1>Update Post</h1>

            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Post</button>
                </form>
            </div>
        {% else %}
            <h3>Your are not authorise to access this. Please contact support team for Help</h3>

        {% endif %}
    {% else %}
        <h3>PYour are not authorise to access this. Please contact support team for Any Help </h3>

    {% endif %}

{% endblock %}
</body>
</html>